@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v50-latin-300.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v50-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v50-latin-900.woff2') format('woff2');
}

  :root {
    --color-black: #000;
    --color-white: #fff;
    --color-dark-light: #f4f4f4;
    --color-dark-blue: #2E2F42;
    --color-blue: #4D5AE5;
    --color-blue-hover: #404BBF;
    --color-light-grey: #434455;
    --color-grey: #555;
    --color-dark-grey: #333;
    --color-bright-blue: #007bff;
    --color-overlay-bg: rgba(255, 255, 255, 0.95);
    --color-button-shadow: rgba(0, 0, 0, 0.15);
    --color-border-light: rgba(0, 0, 0, 0.1);
  }
/* Baza */
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  .body {
    align-items: center;
    align-content: center;
    max-width: 100%;
    width: 1280px;
    background: var(--color-white);
  }
  .ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .a {
    display: inline-block;
  }
  .address-link {
    font-style: normal;
  }
  .container {
    width: 100%;
    max-width: 1288px;
    padding: 20px;
    margin: 0 auto;
  }
  /* Links */
  .link {
    color: var(--color-dark-blue);
    text-decoration: none;
    transition: 0.3s;
  }
  .link:hover {
    color: var(--color-blue-hover);
  }
  /* Heeader */
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 80px;
  }
  .header-logo {
    display: block;
  }
  .header-menu {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 40px;
  }
.header-address {
  flex-grow: 1;
}
.header-contact {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 40px;
}