
/* Baza */
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  .body {
    font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
    align-items: center;
    align-content: center;
    max-width: 100%;
    background: var(--color-white);
  }
  .ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .address-link {
    font-style: normal;
  }
  .container {
    width: 100%;
    max-width: 1288px;
    padding: 20px;
    margin: 0 auto;
  }
  .h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
  }

  .a {
    display: inline-block;
  }
  .img {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
  }