.subtitle {  
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--color-dark-grey);
}
.subtitle--light {
  color: var(--color-white);
}