.technologies-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
&__img {
    display: none;
@media screen and (min-width: $bp-tablet) {
    display: block;
    height: 112px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
}
&__title {
    text-align: end;
}
&__text {
    max-width: 264px;
    color: var(--color-light-grey);
    flex: none;
    flex-grow: 0;
    font-weight: 500;
@media screen and (min-width: $bp-tablet) {
    font-weight: 300;
}
}
}