.footer {
    width: 100%;
    background-color: var(--color-dark-blue);
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;

&__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 124px;
@media screen and (min-width: $bp-tablet) {
  padding: 60px;
}
@media screen and (min-width: $bp-desktop) {
  flex-direction: row;
}
}
&__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
    flex-basis: 50%;
  }
}
&__outline {
    color: var(--color-white);
}
&__logo {
  display: block;
}
&__text {
  max-width: 252px;
}
&__outlint,
&__contact {
flex-grow: 1;
}
}