.footer {
    width: 100%;
    background-color: var(--color-dark-blue);
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;

&__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px;
}
&__outline {
    flex-basis: 50%;
    color: var(--color-white);
}
&__logo {
  display: block;
}
&__text {
  max-width: 252px;
}
&__contact {
flex-basis: 50%;
}
&__title {
color: var(--color-white);
}
}