.footer {
    width: 100%;
    background-color: var(--color-dark-blue);
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px;
}
.footer-outline {
    flex-basis: 50%;
    color: var(--color-white);
}
.footer-logo {
  display: block;
}
.footer-text {
  max-width: 252px;
}
.footer-contact {
flex-basis: 50%;
}
.footer-contact-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--color-white);
}
.footer-form {
  flex-basis: 50%;
}
.footer-title {
  color: var(--color-white);
}
.form {
  display: flex;
  gap: 16px;
position: relative;
background-color: transparent;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}
.input-form {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
.button-form {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 16px;
background-color: var(--color-blue);
color: var(--color-white);
}
.button-form-icon {
  fill: var(--color-white);
}