.portfolio-section {
    &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        list-style: none;
    }
    &__item {
        flex-basis: 100%;
        @media screen and (min-width: $bp-tablet) {
            flex-basis: calc((100% - 24px) / 2);
        }
        @media screen and (min-width: $bp-desktop) {
            flex-basis: calc((100% - 48px) / 3);
        }
    }
}